image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay2
  SSH_PRIVATE_KEY: $SSH_PRIVATE_KEY
  SSH_USER: $SSH_USER
  SSH_HOST: $SSH_HOST

stages:
  - build
  - push
  - deploy

# Build the Docker images
build_develop:
  stage: build
  tags:
    - cms_bk_node
  script:
    # Build the Docker image
    - docker build -t  cms-cg-react-web-zamy:latest .
  only:
    - zamy

push_develop:
  stage: push
  tags:
    - cms_bk_node
  script:
    - echo "Skipping push stage. No push operation needed."
  only:
    - zamy

## Deploy the app via SSH
deploy_develop:
  stage: deploy

  tags:
    - cms_bk_node
  before_script:
    # Set up SSH keys for the deployment
    - mkdir -p ~/.ssh
      ## - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts
  script:
    ## Save and load the Docker image on the remote server
    - docker save  cms-cg-react-web-zamy:latest | bzip2 | ssh $SSH_USER@$SSH_HOST "bunzip2 | docker load"
    # Stop and remove the old container
    - ssh $SSH_USER@$SSH_HOST "docker stop cms-cg-react-web-zamy || true && docker rm cms-cg-react-web-zamy || true"
    # Run the new container
    - ssh $SSH_USER@$SSH_HOST "docker run -d --name cms-cg-react-web-zamy -p 8077:80 cms-cg-react-web-zamy:latest"
  only:
    - zamy
