@font-face{font-family:Oswald-Regular;src:url('Oswald-ExtraLight.ttf') format('truetype');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:Oswald-Light;src:url('Oswald-Light.ttf') format('truetype');font-weight:normal;font-style:normal;font-display:swap}
@font-face{font-family:OpenSans-Regular;src:url('OpenSans-Regular.woff') format("woff"), url('OpenSans-Regular.ttf') format('truetype');font-weight:normal;font-style:normal;font-display:swap}
