.drawer-scroll-area::-webkit-scrollbar {
  width: 8px;
  background: #fafafa;
}
.drawer-scroll-area::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 4px;
}
.drawer-scroll-area::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}
