jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    env:
      random_value: 10    # <-- your build-time env variable
    steps:
      - uses: actions/checkout@v4
      - name: Build And Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          app_location: "/"
          output_location: "dist"
